@import "tailwindcss";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  font-family: var(--mantine-font-family);
}
